env/*
!env/setup_env.sh
!env/setup_env_centos.sh
!env/scripts/
build
benchmarks/*
!benchmarks/lulesh/
benchmarks/lulesh/control
benchmarks/lulesh/transformed
benchmarks/lulesh/results
benchmarks.bak
hmalloc.log
hmalloc.profile
compass
flang-driver
flang
hmalloc
llvm
openmp
.yed
.yedrc
